.taskListItem {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 472px;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  overflow: visible;
  position: relative;
  background: #000000;
  flex-wrap: wrap;
  align-content: center;
  flex-basis: auto;
  border-radius: 5px;
  padding: 8px 0px;
  border: 2px solid #ffffff;
}
.taskText {
  width: 342px;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  margin-left: 15px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative;
  left: auto;
  top: auto;
  flex-grow: 0;
  align-self: flex-start;
  align-content: center;
  transform: none;
  flex-shrink: 0;
}
.slotTargetTask {
  color: #fdfdfd;
  text-align: left;
  white-space: pre;
  user-select: text;
  text-transform: none;
}
.deleteButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 23px;
  width: 87px;
  transition-property: all;
  transition-duration: 1s;
  margin-left: 13px;
  flex-grow: 0;
  margin-right: 0px;
  left: auto;
  top: auto;
  z-index: 0;
  align-self: auto;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg___902Ni {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  white-space: pre-wrap;
}
.svg__uA0Hs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
