.page-title {
  margin-top: 4rem;
}

.page-tasks {
  margin-top: 2rem;
}

.page-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.page-forms {
  margin-top: 2rem;
}

.page-submit-button {
  margin-top: 1rem;
  width: 5%;
  color: black;
}

.task-button {
  width: 4%;
  color: black;
}
